/*HEADER*/
.container {
  position: relative; }

.header {
  width: 100%;
  height: 160px; }
  .header .hamburger {
    display: none;
    position: absolute;
    top: 16px;
    left: 15px;
    width: 28px;
    height: 28px;
    background: url(./../img/icon-hamburger.svg) no-repeat;
    cursor: pointer; }
    .header .hamburger span {
      font-size: 13px;
      font-weight: 700;
      line-height: 28px;
      padding-left: 40px; }
  .header .header-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 40px; }
  .header .basket {
    position: absolute;
    top: 35px;
    right: 15px;
    font-weight: 700; }
    .header .basket .basket-quantity {
      font-size: 13px;
      font-weight: 700;
      color: #000; }

.menu {
  width: 100%;
  text-align: center; }
  .menu ul {
    padding-left: 0;
    display: inline-block;
    margin-left: -57px; }
    .menu ul li {
      list-style-type: none;
      display: inline-block;
      color: #414141;
      margin-left: 57px; }
      .menu ul li a {
        font-size: 16px;
        text-decoration: none;
        color: #414141;
        font-weight: 700; }